body {
    background-image: linear-gradient(to bottom, #4567b7, #2f4d6e, #1a2d3f);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#main {
    margin-top: 80px;
}

.leave-comment {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}